<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
  <span class="navbar-brand" routerLink="/">TOH</span>

  <ul class="navbar-nav">
    <li class="nav-item">
      <span class="nav-link" routerLinkActive="selected"
            routerLink="/todo">todo</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" routerLinkActive="selected"
            routerLink="/heroes">heroes</span>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!--<app-votetaker></app-votetaker>-->
