<!--<h2>{{ hero.name }} Details</h2>

<div><span>hero_id: </span>{{hero.hero_id}}</div>
<div><span>name: </span>{{hero.name}}</div>-->

<router-outlet></router-outlet>

<ul>
  <li class="d-flex m-1" *ngFor="let h of heroes"
      [class.selected]="h === selectedHero"
      routerLink="/heroes/{{h.hero_id}}">
    <span class="rounded-left p-2 bg-primary text-light">{{h.hero_id}}</span>
    <div class="rounded-right p-2 bg-light text-dark w-50">{{h.name}}</div>
  </li>
</ul>

<!--<app-hero-detail [selectedHero]="selectedHero"></app-hero-detail>-->


<!--<div>
  <button [disabled]="isSpecial">propery binding button</button>
</div>

<div>
  <div [class.special]="isSpecial">class binding button</div>
</div>

<div>
  <button [style.color]="isSpecial ? 'red' : 'green'">style binding button</button>
</div>

<div>
  <button (click)="onSave($event)">event binding save button</button>
</div>

<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>-->
